USE [master]
GO
/****** Object:  Database [OrganizerDB]    Script Date: 5/9/2020 1:50:13 PM ******/
CREATE DATABASE [OrganizerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrganizerDB', FILENAME = N'C:\Users\megas\OrganizerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrganizerDB_log', FILENAME = N'C:\Users\megas\OrganizerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrganizerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrganizerDB]
GO
USE [OrganizerDB]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 5/9/2020 1:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Start] [datetime] NOT NULL,
	[Finish] [datetime] NULL,
	[Description] [varchar](max) NULL,
	[Location] [varchar](50) NULL,
	[IsFinished] [bit] NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
